@model RegistrationSystem.Models.UserClass

@{
    ViewData["Title"] = "Create";
}

<h1>User registration form is asp.net core</h1>

<h4>UserClass</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pwd" class="control-label"></label>
                <input asp-for="Pwd" class="form-control" type="password" />
                <span asp-validation-for="Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmpwd" class="control-label"></label>
                <input asp-for="Confirmpwd" class="form-control" type="password"/>
                <span asp-validation-for="Confirmpwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uemail" class="control-label"></label>
                <input asp-for="Uemail" class="form-control" />
                <span asp-validation-for="Uemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @*<input asp-for="Gender" class="form-control" />*@

                <input type="radio" name="Gender" value="M" />Male
                <input type="radio" name="Gender" value="F" />Female

                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Martialstatus" class="control-label"></label>
              

                <select asp-for="Martialstatus">
                    <option selected disabled>-- select marital status --</option>
                    <option>Married</option>
                    <option>Unmarried</option>
                    <option>widow</option>
                </select>
                <span asp-validation-for="Martialstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save user record" class="btn btn-primary" />
            </div>
            <b>@ViewBag.message</b>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
